@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

:root {
  --display: rgb(201, 196, 126);
  --display-glare: rgb(250, 245, 174);
}

body {
  font: 20px "Quicksand", sans-serif;
  margin: 20px;
}

/*=========================== TIC TAC TOE STYLES ===========================*/
/* .tic-tac-toe {
  display: flex;
  flex-direction: column;
  width: 120px;
  text-align: center;
} */

.board {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}

.board__square {
  font-size: 3rem;
  width: 100px;
  height: 100px;
  outline: none;
  border: 1px solid black;
}

/*=========================== CALCULATOR STYLES ===========================*/
.calculator {
  background-color: rgb(68, 68, 68);
  padding: 1rem;
}

.calculator__display {
  overflow: hidden;
  height: 40px;
  line-height: 40px;
  font-size: 35px;
  background: linear-gradient(
    45deg,
    var(--display),
    var(--display) 10%,
    var(--display-glare) 10%,
    var(--display-glare) 20%,
    var(--display) 20%,
    var(--display) 25%,
    var(--display-glare) 25%,
    var(--display-glare) 30%,
    var(--display) 30%
  );
  text-align: right;
}

/*=========================== WEATHER STYLES ===========================*/
.weather__result {
  border-radius: 15px;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.25);
}
.weather__city {
  text-transform: uppercase;
}

.weather__search {
  border-radius: 15px 0px 0px 15px;
  border: 1px solid black;
  outline: none;
}
.weather__submit {
  border-radius: 0px 15px 15px 0px;
  border: 1px solid black;
  outline: none;
}
