@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

:root {
  --display: rgb(236, 238, 151);
  --display-glare: rgb(255, 252, 203);
}

body {
  font: 20px "Quicksand", sans-serif;
  margin: 20px;
}

h1 {
  font-weight: bolder;
}

/*=========================== TIC TAC TOE STYLES ===========================*/
.board {
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.board__square {
  font-size: 3rem;
  width: 25vw;
  height: 25vw;
  outline: none;
  border: 1px solid black;
}

/*=========================== CALCULATOR STYLES ===========================*/
.calculator {
  background-color: rgb(46, 46, 46);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
  padding: 1rem;
}

.calculator__display {
  overflow: hidden;
  height: 40px;
  line-height: 40px;
  font-size: 35px;
  background: linear-gradient(
    45deg,
    var(--display),
    var(--display) 10%,
    var(--display-glare) 10%,
    var(--display-glare) 20%,
    var(--display) 20%,
    var(--display) 25%,
    var(--display-glare) 25%,
    var(--display-glare) 30%,
    var(--display) 30%
  );
  text-align: right;
}

/*=========================== WEATHER STYLES ===========================*/
.weather__result {
  border-radius: 15px;
  box-shadow: 4px 4px 5px 3px rgba(0, 0, 0, 0.25);
}
.weather__city {
  text-transform: uppercase;
}

.weather__search {
  border-radius: 15px 0px 0px 15px;
  border: 1px solid black;
  outline: none;
}
.weather__submit {
  border-radius: 0px 15px 15px 0px;
  border: 1px solid black;
  outline: none;
}
