@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

:root {
  --display: rgb(201, 196, 126);
  --display-glare: rgb(250, 245, 174);
}

body {
  font: 20px "Quicksand", sans-serif;
  /* font-family: 'Quicksand', sans-serif; */
  margin: 20px;
}

/*=========================== TIC TAC TOE STYLES ===========================*/
.tic-tac-toe {
  display: flex;
  flex-direction: column;
  width: 120px;
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: 40px 40px 40px;
  grid-template-rows: 40px 40px 40px;
}

.board__square {
  width: 40px;
  height: 40px;
  outline: none;
  border: 1px solid black;
}

/*=========================== CALCULATOR STYLES ===========================*/
.calculator {
  background-color: rgb(68, 68, 68);
  padding: 1rem;
}

.calculator__display {
  overflow: hidden;
  height: 40px;
  line-height: 40px;
  font-size: 35px;
  background: linear-gradient(
    45deg,
    var(--display),
    var(--display) 10%,
    var(--display-glare) 10%,
    var(--display-glare) 20%,
    var(--display) 20%,
    var(--display) 25%,
    var(--display-glare) 25%,
    var(--display-glare) 30%,
    var(--display) 30%
  );
  text-align: right;
}
